.jumbotron {
    min-height: 80%;
    background-image: url(../covers/background-2.JPG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.full {
    padding-right: 0px;
    padding-left: 0px;
}

.jumbo-inner {
    margin-top: 30%;
    margin-bottom: 20%;
}

.center {
    text-align: center;
}

.divider {
    min-width: 100%;
    color: #c4c1c1;
}

.marked-text {
    color: #444444;
    font-style: italic;
    font-weight: bold;
}

#output {
    display: inline;
    font-size: 500%;
}

#output,
#help {
    color: #eeeeee;
    text-shadow: 3px 3px rgb(59, 59, 59);
}


/* MOBILE SCREENS */

@media (max-width: 700px) {
    #output {
        font-size: 200%;
    }
    .jumbo-inner>p {
        font-size: 12px;
    }
    .jumbotron {
        min-height: 70%;
    }
}